<div *ngIf="propertyItem$ | async as propertyItem">
	<a
		class="directions"
		mat-fab
		[href]="getDirections(propertyItem)"
		target="_blank"
	>
		<mat-icon>directions</mat-icon>
	</a>

	<div class="header">
		<h4>{{ propertyItem.name }}</h4>
		<p>{{ propertyItem.streetAddress }}, {{ propertyItem.city }}</p>
	</div>

	<div class="contact">
		<div class="contact-action">
			<a [href]="'tel:' + propertyItem.phone">
				<mat-icon aria-hidden="false" aria-label="PHONE"
					>phone</mat-icon
				>
				<p>DIAL</p>
			</a>
		</div>
		<div class="contact-action">
			<a [href]="'mailto:' + propertyItem.email">
				<mat-icon aria-hidden="false" aria-label="EMAIL"
					>email</mat-icon
				>
				<p>EMAIL</p>
			</a>
		</div>
		<div class="contact-action" *ngIf="propertyItem.url">
			<a [href]="propertyItem.url" target="_blank">
				<mat-icon aria-hidden="false" aria-label="WEBSITE"
					>public</mat-icon
				>
				<p>WEBSITE</p>
			</a>
		</div>
	</div>

	<div class="gallery">
		<div
			class="gallery-image-wrapper"
			*ngFor="
				let photo of propertyItem.photos | slice: 0:3;
				let i = index
			"
		>
			<img class="gallery-image" [src]="photo" />
			<div *ngIf="i === 2" class="gallery-image-info">21 more</div>
		</div>
	</div>

	<mat-list role="list">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<div class="list-item">
						<mat-icon matListIcon color="primary"
							>business</mat-icon
						>
						<p matLine class="panel-title-p">
							{{ propertyItem.management }}
						</p>
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div class="list-item">
				<mat-icon matListIcon color="primary">place</mat-icon>
				<p matLine class="panel-title-p">
					{{ propertyItem.managementOffices[0].streetAddress }},
					{{ propertyItem.managementOffices[0].city }}
					{{ propertyItem.managementOffices[0].state }}
				</p>
			</div>
		</mat-expansion-panel>
		<mat-list-item>
			<mat-icon matListIcon color="primary">person</mat-icon>
			<p matLine>{{ propertyItem.onsiteManager }}</p>
		</mat-list-item>
		<mat-list-item *ngIf="propertyItem.regionalName">
			<mat-icon matListIcon color="primary">business_center</mat-icon>
			<p matLine>{{ propertyItem.regionalName }}</p>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon color="primary">label</mat-icon>
			<p matLine>Section 8</p>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon color="primary">map</mat-icon>
			<p matLine>{{ propertyItem.neighborhood }}</p>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon color="primary">build</mat-icon>
			<p matLine>Built {{ propertyItem.yearBuilt }}</p>
			<p matLine *ngIf="propertyItem.yearRenovated">
				Renovated {{ propertyItem.yearRenovated }}
			</p>
		</mat-list-item>
	</mat-list>
	<mat-divider></mat-divider>
</div>
