.card {
	max-width: 100%;
	display: flex;
	padding-bottom: 0px;
	margin: 0.5em;
	cursor: pointer;
}

.card-data {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.order {
	color: #fff;
	background-color: #1976d2;
	padding: 3px 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.card-image {
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: flex-start;
	flex-basis: 115px;
	margin: 10px;
}
