<mgl-map
	*ngIf="bounds$ | async"
	[center]="initialCenter"
	[zoom]="[initialZoom]"
	[style]="style"
	[fitBounds]="bounds$ | async"
	[fitBoundsOptions]="fitBoundsOptions"
	(mapLoad)="onMapLoad($event)"
>
	<mgl-control mglNavigation position="top-left"></mgl-control>
	<mgl-marker
		*ngFor="let listItem of listItems$ | async"
		[lngLat]="getCoords(listItem.geocode)"
	>
		<div (click)="onMarkerClicked(listItem)">
			<div class="listing-order">
				{{ listItem.order }}
			</div>
			<img [src]="markerType$ | async" />
		</div>
	</mgl-marker>
</mgl-map>
