/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* override default Material styles */
.mat-drawer-inner-container {
	overflow-y: hidden !important;
}

.mat-expansion-panel {
	box-shadow: none !important;
}

.mat-expansion-panel-header-title {
	align-items: center !important;
}
